body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-h1{
  text-align: center;
}
.play-h1{
  text-align: center;
}

.home-h2{
  text-align: center;
  margin-bottom: 20px;
}

.divider{
  border: none;
  color: #434743;
  background-color: #C8C4C4;
  height: 2px;
  width: 75%;
}

.home-form{
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.home-form input{
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid black;
  width: 240px;
  height: 40px;
  font-size: 1.25em;
}

.home-form input::placeholder{
  color:  #C8C4C4;
}
.home-form button{
  width: 50px;
  height: 45px;
  border-radius: 10px;
  position: relative;
  background-color: #434743;
  font-size: 2em;
  color: white;
  top: 7px;
  cursor:pointer;
}


.home-routine-section{
  width: 100%;
  display: block;
  margin: auto;
  height: 345px;
  overflow-y: scroll;
}

.routine{
  width: 300px;
  height: 40px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 1.25em;
  z-index: -1;
  cursor: pointer;
}
.new{
  padding: 0px;
  margin: 0px;
  font-size: 0.50em;
  font-weight: bold;
  position: relative;
  color: #C8C4C4;
  right: 125px;
  bottom: 10px;
  z-index: -1;
}

.title{
  position: relative;
  bottom: 40px;
  z-indeX: -1;
  text-overflow: ellipsis;
  margin: auto;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

footer{
  color: #C8C4C4;
  font-size: 0.75em;
  text-align: center;
}
.routine-page-footer{
  color: #C8C4C4;
  font-size: 0.75em;
  text-align: center;
  position: relative;
  bottom: 10px;
}

.error-overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 10;
}
.error-box{
  width: 300px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid black;
  margin: auto;
  position: relative;
  top: 50%;
  font-size: 1em;
  text-align: center;
  background-color: white;
  z-index: 10;
}
.routine-title{
  text-align: left;
  padding-left: 10px;
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.routine-home-button{
  position: relative;
  left: 310px;
  bottom: 65px;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
}
.routine-div{
  width: 375px;
  margin: auto;
  height: 100%;
  position: relative;
  z-index: 1;
}

.routine-subtitle{
  color: #C8C4C4;
  font-size: 1.5em;
  padding-left: 10px;
  position: absolute;
  top: 45px;
  margin: 0px;
}

.routine-task-title{
  margin-top: 70px;
  text-align: center;
}

.routine-task-section{
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 300px;
  overflow-y: scroll;
}
.routine-task-options{
  width: 100%;
  display: flex;
  margin: auto;
  height: 60px;
  justify-content: center;
  margin-bottom: 12px;
}
.routine-button{
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
}
.routine-start-button{
  width: 100px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
}

.add-overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.add-box{
  display: block;
  width: 320px;
  height: 250px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  top: 200px;
  border-radius: 10px;
  margin: auto;
}

.name{
  font-size: 1.25em;
  margin: 30px;
}
.name-input{
  border: 2px solid black;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.25em;
  position: relative;
  left: 0px;
}
.add-form{
  position: relative;
  top: 40px;
}
.time{
  font-size: 1.25em;
  position: relative;
  top: 20px;
  margin: 30px;
}

.time-input{
  border: 2px solid black;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  font-size: 1.25em;
  position: relative;
  top: 20px;
  right: 14px;
}
.add-button{
  width: 50px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
  position: relative;
  top: 65px;
  left: 240px;
}
.cancel-button{
  width: auto;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
  position: relative;
  top: 65px;
  left: 20px;

}
.delete-msg{
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.25em;
}
.trash-box{
  display: block;
  width: 320px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  top: 200px;
  border-radius: 10px;
  margin: auto;
}
.trash-cancel-button{
  width: auto;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
  position: relative;
  top: 0px;
  left: 35px;
}
.trash-yes-button{
  width: auto;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor: pointer;
  margin: 0px 10px;
  position: relative;
  top: 0px;
  left: 50px;
}
.time-subtitle{
  padding: 0px;
  margin: 0px;
  font-size: 0.50em;
  font-weight: bold;
  position: relative;
  color: #C8C4C4;
  right: 125px;
  bottom: 10px;
  z-index: -1;
} 

.task-error-div{
  width: 300px;
  height: 20px;
  background-color: red;
  position: relative;
  margin: 0px auto;
  z-index: 20;
  top: 200px;
  padding: 0px;
}

.task-error-div p{
  text-align: center;
  margin: 0px;
}

.play-div-titles{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.play-h2{
  text-align: center;
}
.play-div-time{
  width: 100%;
  height: 120px;
  margin-top: 20px;
  
}
.play-h2-time{
  text-align: center;
}
.play-h2-time-total{
  text-align: center;
  color: #C8C4C4;
  position: relative;
  bottom: 20px;
}

.play-div-options{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button{
  width: 70px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
}
.play-div-bottom{
  width: 100%;
  height: 150px;
  position: relative;
  bottom: 25px;
  margin-bottom: 23px;
}
.play-h2-up-next{
  text-align: center;
  color: #C8C4C4;
  position: relative;
  bottom: 35px;
  
}

.play-home-button{
  width: 70px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
  text-align: center;
}
.play-div-button{
  display: flex;
  justify-content: center;
}
.play-h2-eta-time{
  text-align: center;
  position: relative;
  top: 25px;
}
.play-h2-eta{
  text-align: center;
  color: #C8C4C4;
}
.play-h2-finish{
  padding: 0px;
  position: relative;
  color: #3070EB;
}
.summary-h1{
  text-align: center;
}
.summary-h2{
  text-align: center;
  color: #C8C4C4;
  margin-bottom: 50px;
}
.summary-task-h2{
  text-align: center;
}
.summary-tasks{
  height: 250px;
}
.summary-h3{
  text-align: center;
  margin-top: 30px;
}

.summary-home-button{
  width: 70px;
  height: 45px;
  border-radius: 10px;
  background-color: #434743;
  font-size: 2em;
  color: white;
  cursor:pointer;
  margin: 0px 10px;
  text-align: center;
}
.summary-bottom-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
  overflow-y: scroll;
}

.summary-task-h3{
  text-align: center;
  padding: 10px;
}