body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-h1{
  text-align: center;
}

.home-h2{
  text-align: center;
  margin-bottom: 10px;
}

.divider{
  border: none;
  color: #C8C4C4;
  background-color: #C8C4C4;
  height: 2px;
  width: 75%;
}

.home-form{
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px
}

.home-form input{
  margin-right: 20px;
  border-radius: 10px;
  border: 2px solid black;
  width: 240px;
  height: 40px;
}

.home-form input::placeholder{
  color:  #C8C4C4;
}
.home-form button{
  width: 50px;
  height: 45px;
  border-radius: 10px;
  position: relative;
  background-color: #434743;
  font-size: 2em;
  color: white;
  top: 7px;
}